<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CHYLab - Experimental Note</title>
	</head>
	<body>
		<div class="container">
			<div id="tabs" class="tabs">
				<header class="clearfix">
					<h1 class="title-current">Fragment Cloning</h1>
				</header>
				<%= form_for @pcr do |pf| %>
					<%= render :partial => 'form', :locals => { :pf => pf } %>
					<%= pf.submit "Submit", :class => "submit" %>
					<% @pcr.errors.full_messages.each do |err| %>
						<ul style="list-style-type:disc"><li class="err"><%=err%></li></ul>
					<%end%>
				<%end%>
			</div>
		</div>
	</body>
	<style>
	
	</style>
	<script>

	</script>
</html>