	
.field_with_errors{
	padding: 0;
	width:100%;
}
.field_with_errors input{
  	background-color: #f86558;
}

.short{
	width: 40px;
}
.err{
	color:#f86558;
}
/*#erralert{
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	line-height: 2em;
	position: fixed;
	top:50%;
	left:50%;
	width:300px;
	padding-bottom: 30px;
	margin-top: -200px;
	margin-left: -150px;
	z-index: 10;
	cursor: initial;
}*/

/*#erralert::after{
	content:"OK";
	font-weight: 800;
	font-size: 1.5em;
	color:#f86558;
	width: 20px;
	position: absolute;
	bottom:5%;
	left:50%;
	margin-left: -10px;
	cursor: pointer;
}*/
/*tables*/
form{
	margin: 0 auto;
	width: 50%;
}
label, .label{
	display: inline-block;
	text-align: left;
	width: 40%;

}
.label{
	line-height: 40px;
}
input[type="text"]{
	border-radius: 3px;
	border: 1px solid #599ab9;
	display: inline-block;
	text-align: left;
	width: 40%;
}
.genesequence{
	border-radius: 3px;
	border: 1px solid #599ab9;
	display: inline-block;
	text-align: left;
	width: 40%;
	height:100px;
}
.time{
	display: inline-block;
	line-height: 30px;
	width: 80%;
	text-align: right;
}

.edit a{
	display: inline-block;
	color:white;
	background-color: #599ab9;
	padding:5px;
	border-radius: 4px;
	width:80px;
	height: 30px;
	margin: 0 10px;
	text-align: center;
	transition:0.2s;
}
.edit a:hover{
	background-color: #377897;
}
.show + div{
	margin:5px auto;
	position: absolute;
	right:0px;
}
.temp{
	width:70%;
	padding-left: 30%;
	position: relative;

}
.cycles{
	position: absolute;
	top: calc(50% - 22px);
	right:0px;
}
/*index*/
.gene, .geneshow{
	margin:0 auto;
	max-width: 1230px;
	width:80%;
	white-space: nowrap;
	overflow: auto;
}
.gene h2{
	color: #599ab9;
	padding-left: 2px;
	position:relative;
	bottom:2px;
	transition-duration: all 0.2s;
}
.gene h2 .genenew{
	content:"new";
	background-color: #599ab9;
	border-radius: 4px;
	padding:4px;
	margin:4px;
	font-size: 0.5em;
	color: white;
	position:absolute;
	left:25px;
	width:60px;
	text-align: center;
	transition: all 0.2s;
	opacity:0;
}
.gene h2 .genedetail{
	content:"details";
	background-color: #599ab9;
	border-radius: 4px;
	padding:4px;
	margin:4px;
	font-size: 0.5em;
	color: white;
	position:absolute;
	left:25px;
	width:60px;
	text-align: center;
	transition: all 0.2s;
	opacity:0;
}
.gene h2:hover .genenew{
	opacity:1;
	left:150px;
}
.gene h2:hover .genedetail{
	opacity:1;
	left:80px;
}
.pcrs{
	display: inline-block;
	width:100%;
}

/*show*/
.detail{
	width:100%;
}

@media screen and (max-width: 32em){
/*tables*/
form{
	width:80%;
}
label{
	display: block;
	width: 50%;
}
input[type="text"]{
	font-size: 1.5em;
	width: 100%;
}
.gene h2 .genenew{
	opacity:1;
	left:150px;
}
.gene h2 .genedetail{
	opacity:1;
	left:80px;
}
.short{
	height:45px;
	width:55px;
	font-size: 30px;
}
.temp{
	width:100%;
	padding-left: 0%;
	position: relative;
}
.cycles{
	position: absolute;
	top: calc(50% - 32px);
	right:0px;
}

}