// Place all the styles related to the pcrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
.field_with_errors{
	padding: 0;
	width:100px;
	display:inline;
}
.field_with_errors input{
  	background-color: #f86558;
}
.err{
	color: #f86558;
}
.short{
	width: 40px;
}
.field_with_errors input:after{
		content:"321654";
	}


@media screen and (max-width: 32em){
.short{
	height:50px;
	width:60px;
	font-size: 30px;
}


}